.corvinal{
    background-color: blue;    
}
.grifinoria{
    background-color: red;
}
.lufalufa{
    background-color: yellow;
}

.sonserina{
    background-color: green;
}

.oculto{
    display: none;
}